

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
body{
    background-color: #00083F;
}
* {
    margin: 0;
    padding: 0;
}

.section_container{
    font-family: "Segoe UI", serif;
    margin-top: 4%;
    margin-left: 20px;
    margin-bottom: 3%;
    color: white;
    font-weight: bold;
    text-align: center;
}
.header{
    box-shadow: black;
}
.logo{
    margin-left: 20px;
    height:45px;
    width: auto;
}
.ob1{
    height: 200px;
    width: 25%;
    margin-right: 50px;
    border-radius: 25px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 200px;

    box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);

}
.ob2{
    height: 200px;
    width: 25%;
    margin-right: 50px;
    text-align: center;
    border-radius: 25px;
    line-height: 200px;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);

}
.ob3{
    height: 200px;
    width: 25%;
    margin-right: 50px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    color: black;

    line-height: 200px;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);

}
.ob4{
    height: 200px;
    width: 25%;
    margin-right: 50px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    line-height: 200px;
    color: black;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);


}
.home_text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: led_display, serif;
    font-size: xxx-large;
}
.content{
    background: url("resources/images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mod_implementare{
    margin-top: 10%;
    background-color: white;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;

}
.textFormatAndIndentation{
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 40px;
    line-height: 20px;
    font-family: "Segoe UI";
}
.descriere_hardware{
    background-color: #5e7b81 !important;
    padding-bottom: 30px;
    color: white;
    font-family: "Segoe UI";
}
h1{
    font-family: "Segoe UI Semibold";
}
p{
    font-family: "Segoe UI Light";
}
h5{
    font-family: "Segoe UI Semibold";
}
table, th, td {
    text-align: center;
    border: 1px solid white;
}
